#footer {
    min-height: 4em;
    background-color: aquamarine;
    color:wheat;
    text-align: center;
    font-weight: bolder;
}

#navbar-login {
    position: relative;
    color: yellow;
    text-align: center;
    right: auto;
    
}